-dontpreverify
-verbose
-optimizations !code/simplification/arithmetic,!field/*,!class/merging/*
#/*------------------------------需要修改的地方-------------------------------*/
#/*以下libraryjars。。。。为消除第三方的包被混淆*/

#/*------------------------------需要修改的地方，这部分要根据自己的项目修改-------------------------------*/

-keep public class * extends android.app.Activity
-keep public class * extends android.app.Application
-keep public class * extends android.app.Service
-keep public class * extends android.content.BroadcastReceiver
-keep public class * extends android.content.ContentProvider
-keep public class * extends android.app.backup.BackupAgentHelper
-keep public class * extends android.preference.Preference
-keep public class com.android.vending.licensing.ILicensingService

-keepclasseswithmembernames class * {
    native <methods>;
}

-keepclasseswithmembers class * {
    public <init>(android.content.Context, android.util.AttributeSet);
}

-keepclasseswithmembers class * {
    public <init>(android.content.Context, android.util.AttributeSet, int);
}

-keepclassmembers class * extends android.app.Activity {
   public void *(android.view.View);
}

-keepclassmembers enum * {
    public static **[] values();
    public static ** valueOf(java.lang.String);
}

-keep class * implements android.os.Parcelable {
  public static final android.os.Parcelable$Creator *;
}

#/*------------------------------需要修改的地方-------------------------------*/
#/*以下这一句为消除v4包被混淆*/
-keep class android.support.v4.** { *; }

#/*以下libraryjars。。。。为消除第三方的包被混淆，在相应的jar包下的包名*/
-dontwarn org.achartengine.**
-dontwarn com.alibaba.fastjson.**
-dontwarn com.alibaba.fastjson.**
-dontwarn cn.smssdk.**
#/*------------------------------需要修改的地方-------------------------------*/
